#about--body {
  scroll-margin: 8rem;
}

.about {
  width: 100%;
  margin: auto;
  padding: 2rem 2rem 2rem 0rem;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 14rem auto;
  scroll-margin: 20rem;

}

.about--circle {
  background-color: var(--color-brighter);
  width: 28rem;
  height: 28rem;
  border-radius: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
}

.about--bg {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  margin: 20rem auto 0;
  padding-top: 2rem;
}

.about--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -30rem;
  padding-bottom: 2rem;
}

.about--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 32rem;
  width: 100%;
  padding: 0 2rem;
  margin: auto;
}

.about--portrait {
  max-width: 27rem;
  max-height: 27rem;
  border-radius: 14rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.carousel--container {
  display: flex;
  justify-content: center;
  max-width: 42rem;
  margin: auto;
}

.carousel--button-l {
  position: relative;
  height: 32rem;
  width: 4rem;
  align-self: center;
  border-radius: 2rem 0 0 2rem;
}

.carousel--button-r {
  position: relative;
  height: 32rem;
  width: 4rem;
  align-self: center;
  border-radius: 0 2rem 2rem 0;
}

.carousel--image {
  max-width: 32rem;
  max-height: 32rem;
  width: 32rem;
}

.carousel--arrow {
  font-weight: 400;
  transform: scale(4, 12);
}

.contact {
  margin: 16rem auto;
  max-width: 64rem;
  border-radius: 2rem;
  padding: 2rem 2rem 2rem 0rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact--button {
  padding: 1rem 1rem;
  font-size: 1.5rem
}

.contact h2 {
  font-size: 4rem;
}

.contact--options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  margin: auto;

}

.contact--option {
  background: var(--color-brightest);
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  height: 14rem;
  margin: auto;
}

.contact--option-icon {
  font-size: 2rem;
  color: var(--color-dark);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0rem;
  background-color: rgb(255,255,255);
  z-index: 100;
  height: 3%;
}

.header--left{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: .2rem;
  margin-left: .75rem;
}

.header--right{
  margin-top: .2rem;
  margin-right: .75rem;
}

.project {
  width: 100%;
  margin: 2rem 0 12rem;
}

.project--content {
  padding: 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  width: 48rem;
  margin: -2rem auto 4rem;
  border-radius: 2rem;
  border: solid 0.15rem;
  border-color: rgba(255, 255, 255, 0);
}

.project--name {
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 40rem;
  margin: auto;
  max-height: 6rem;
  border-radius: 2rem;
  border: solid 0.15rem;
  border-color: rgba(0, 0, 0, 0);
}

.project--name-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.project--description {
  max-width: 42rem;
  margin: 2rem auto;
  width: 100%;
}

.project--link {
  padding: 1rem 2rem;
  font-size: medium;
}

.project--links {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.projects {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  scroll-margin: -14rem;

}

.projects--container {
  background-color: var(--color-dark);
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}

.projects--title {
  margin-top: 18rem;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.techCloud {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.techCloud--item {
  padding: 0.5rem .8rem;
  border-radius: 1.5rem;
  background-color: var(--color-green);
  font-weight: 600;
  font-size: small;
  border: 0.1rem solid;
  border-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.techCloud--item:hover {
  border: 0.1rem solid;
  border-color: rgba(0, 0, 0, 0.2);
}

.techCloud--item:not(:hover) {
  transition: all 0.3s ease-in-out;
}

/* -------------- Responsive Media Queries (Mobile-Small) ----------------*/

@media screen and (max-width: 600px) {
  .carousel--arrow {
    font-weight: 400;
    transform: scale(2, 6);
  }

.project--content {
  width: 100%;
  padding: 2rem 0;
  border-radius: 0;
}
.contact--option-icon {
  font-size: 4rem;
  color: var(--color-dark);
}
.about {
  margin-top: 18rem;
}
.header--right {
  display: none;
}



}
